<!DOCTYPE html>
<html>
<head>
    <title>Log Viewer</title>
</head>
<body>
    <h1>Log Viewer</h1>
    <form action="/logs" method="get">
        <label for="filename">Filename:</label><br>
        <input type="text" id="filename" name="filename"><br>
        <label for="term">Search Term:</label><br>
        <input type="text" id="term" name="term"><br>
        <label for="limit">Number of Lines:</label><br>
        <input type="number" id="limit" name="limit" min="1" value="50"><br>
        <input type="submit" value="Get Logs">
    </form>
</body>
</html>
